.contact_wrapper {
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    min-width: 220px;
}

.list_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact_svg {
    margin-right: 5px;
}

.delete_btn {
    display: inline;
}