.form {
   display: flex;
   flex-direction: column; 
   align-items: start;
   border: 1px solid black;
   border-radius: 5px;
   padding: 20px;
   max-width: 200px;
}

.form_button {
    margin-top: 10px;
}

.error_message {
    font-size: 12px;
    background-color: lightpink;
    align-items: center;
    margin-left: 10px;
    padding: 1px 5px;
    border: 1px solid red;
    border-radius: 5px;

}

.flicker_1 {
	-webkit-animation: flicker_1 2s linear infinite both;
	        animation: flicker_1 2s linear infinite both;
}

@-webkit-keyframes flicker_1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flicker_1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
